#cart{
    width: 100%;
    padding: 50px;
}
#cart-body{
    display: flex;
    flex-direction: column;
}
#cart-h1{
    color: #FC2947;
}
#cart-info{
    display: flex;
}
#cart-list{
    width: 60%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}