#card{
    border: 2px solid #FFDEB9;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    margin: 20px;

}
#card-img{
    width: 100%;
    border-radius: 20px;
}
#card-info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#card-name-veg{
    display: flex;
    justify-content: space-between;
}
#card-name{
    font-size: large;
    font-weight: 800;
}
#card-rating{
    margin-top: 5px;
}
#card-price{
    margin-top: 5px;
    font-weight: bold;
    font-size: larger;
}
#card-add{
    background-color: #FE6244;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    margin-top: 20px;
    transition: all .3s;
}
#card-add:hover{
    background-color: #fff;
    border: 2px solid #FE6244;
    color: #FE6244;
}



/* pop-up  */
#pop{
    padding: 30px;
}
#pop-body{
    display: flex;
    flex-direction: column;
}
#pop-extra{
    margin: 10px 0;
}
#pop-size{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}
#pop-size-p{
    font-weight: bold;
    font-size: larger;
}
#pop-size-label2{
    margin: 0 20px;
}
#pop-size-label1,#pop-size-label2, #pop-size-label3{
    background-color: #FE6244;
    color: #fff;
    padding: 5px;
} 
#pop-toppings{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
#pop-toppings-p{
    font-weight: 800;
    font-size: large;
}
#pop-toppings-label{
    background-color: #FE6244;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}
#pop-btn{
    padding: 10px 20px;
    font-size: large;
    font-weight: 800;
    background-color: #FC2947;
    color: #fff;
    border: none;
    margin-top: 20px;

    cursor: pointer;
}